img {
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
}

h1 {
    color: #dfb32a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    text-shadow: 8px 5px black;

}

h2, h3 {
    font-size: 140%;
    font-family: didot, serif;
    color: #ffdd71;
    text-shadow: 2px 2px black;

}

.center {
    text-align: center;
}

body {
    background-color: #133154;
}

p, li {
    font-family: optima, sans-serif;
    color: #dfb32a;
}

ol {
    border-style:dashed;
    border-color:rgba(241, 244, 247, 0.574);
    border-radius: 10px;
    
}